services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    container_name: assets-mgmt-web-dev
    working_dir: /app
    command: npm run dev -- --host
    volumes:
      - ./web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
